NODE_ENV=development
PORT=3001

# Database (Configurado para o RDS do Ministack)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=auth_db
DB_USER=postgres
DB_PASSWORD=postgres_password

# JWT Secrets
JWT_SECRET=mudar_para_um_segredo_longo_em_producao
JWT_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

# AWS Config (Ministack)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT=http://localhost:4566
